[mysql]
host = 127.0.0.1
user = root
passwd = 100704048
db = opie
charset = utf8
data_index_path = /home/zhi/test
[word]
weak_product_feature = data/raw/weak_product_feature
weak_opinion_words = data/raw/weak_opinion_words
BE = data/raw/BE
terminal_signal = data/raw/BE
positive_words =  data/raw/positive_words
negative_words =  data/raw/negative_words
contrary_words =  data/raw/contrary_words
transition_words = data/raw/transition_words
[path]
base_data_path = data/domains
